.under-construction {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-height: 31.25rem;
  padding: 1.875rem 0 1.875rem 0;
  text-align: center;
  align-items: center;
  margin-top: 5rem;
}
